mat-dialog-content{
    z-index: 100;
}

#schedule-modal-text{
    text-align: center;
}

.numbers-container{
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 0;
    border-radius: 2%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.numberofvehicle{
    height: 10vw;
    width: 100%;
}

.schedule-modal{
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
}

.busblock{
    border: none;
    background: rgb(255, 255, 255);
    padding: 0;
    display: block;
    border-radius: 45%;
}

.busblock:hover{
    background-color: red;
    border-radius: 50%;
    border: 5%;
}

.busblock:hover img {
    transform: scale(1.1);
}

.tramblock {
    border: none;
    background: white;
    padding: 0;
    display: block;
    border-radius: 45%;
}

.tramblock:hover{
    background-color: red;
    border-radius: 50%;
}

.tramblock:hover img {
    transform: scale(1.1);
}

.vehicleblock{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10vh;
}

#side-panel{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    z-index: 9999;
}
