<div class="loc-modal">
  <p id="loc-modal-text">Wybierz pojazd i jego numer</p>
  <div class="vehicleblock">
    <button class="busblock" id="busBlockButton" (click)="toggleView('bus')"><img src="./assets/assets-buttons/bus.svg" alt="bus"></button>
    <button class="tramblock" id="tramBlockButton" (click)="toggleView('tram')"><img src="./assets/assets-buttons/tram.svg" alt="bus"></button>
  </div>
  <ng-container *ngIf="showBusNumbers">
    <div class="numbers-container">
      <button class="numberofvehicle" *ngFor="let bus of buses" (click)="toggleElement(bus.routeId)">{{bus.routeId}}</button>
    </div>
  </ng-container>
  <ng-container *ngIf="showTramNumbers">
    <div class="numbers-container" *ngIf="showTramNumbers">
      <button class="numberofvehicle" *ngFor="let tram of trams" (click)="toggleElement(tram.routeId)">{{tram.routeId}}</button>
    </div>
  </ng-container>
</div>
