<div id="buttoncontener" class="absolute top-1/2 left-0 transform -translate-y-1/2 z-30 flex flex-col space-y-2 p-2 bg-opacity-50">
    <button (click)="openLocDialog()" type="button" id="bus" alt="bus" class="bg-white p-0 block rounded-full">
        <img src="./assets/assets-buttons/bus.svg" alt="bus" class="w-8 h-auto transition-transform duration-300 ease-in-out hover:scale-110">
    </button>
    <button type="button" id="search" alt="search" class="bg-white p-0 block rounded-full">
        <img src="./assets/assets-buttons/search.svg" alt="search" class="w-8 h-auto transition-transform duration-300 ease-in-out hover:scale-110">
    </button>
    <button (click)="openScheduleDialog()" type="button" id="list" alt="list" class="bg-white p-0 block rounded-full">
        <img src="./assets/assets-buttons/list.svg" alt="list" class="w-8 h-auto transition-transform duration-300 ease-in-out hover:scale-110">
    </button>
    <button (click)="openReportDialog()" type="button" id="exclamation_mark" alt="exclamation_mark" class="bg-white p-0 block rounded-full">
        <img src="./assets/assets-buttons/exclamation_mark.svg" alt="exclamation_mark" class="w-8 h-auto transition-transform duration-300 ease-in-out hover:scale-110">
    </button>
</div>
