<div  id="buttoncontener" style="position: absolute; top: 50%; transform: translateY(-50%); left: 10px; z-index: 1000;">
<button type="button" id="bus" alt="bus"><img src="./assets/assets-buttons/bus.svg" alt="bus"></button>
<button type="button" id="search" alt="search"><img src="./assets/assets-buttons/search.svg" alt="search"></button>
<button type="button" id="list" alt="list"><img src="./assets/assets-buttons/list.svg" alt="list"></button>
<button type="button" id="exclamation_mark" alt="exclamation_mark"><img src="./assets/assets-buttons/exclamation_mark.svg" alt="exclamation_mark"></button>
</div>